@import "tailwindcss";

@theme {
    --color-background: #070b13;
    --color-primary: #00E8FC;
    --color-secondary: #F96E46;

    --font-sans: "Space Grotesk", sans-serif;
}

@layer components {
    .cell-player-1 {
        animation: fall-and-bounce 0.7s cubic-bezier(0.23, 1, 0.32, 1);
        background: var(--color-primary);
    }

    .cell-player-2 {
        animation: fall-and-bounce 0.7s cubic-bezier(0.23, 1, 0.32, 1);
        background: var(--color-secondary);
    }
}

@keyframes fall-and-bounce {
    0% {
        transform: translateY(-50%);
    }
    80% {
        transform: translateY(0%);
    }
}